body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

#formContainer {
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

